{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/test.css' %}">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Djorg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {% if user.is_authenticated %}
    <h1>
      Welcome to Djorg, {{ user.username }}!
    </h1>
    <p><a href="{% url 'logout' %}">Logout</a></p>
  {% else %}
    <h1>You are not logged in</h1>
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
  <a href="{% url 'signup' %}">Sign Up</a>
  <br />
  <a href="/api/notes">Notes</a>
</body>
</html>
